/* html, body { */
/*   height: 100%; */
/*   margin: 0; */
/* } */

body {
  font-size: 20px;
  background-color: #202020;
  color: white;
}

ul {
  list-style-type: none;
}

.wrapper {
}

#categories {
  display: flex;
  height: 100px;
}

.category {
  margin: 20px;
  text-align: center;
  flex-grow: 1;
}

.container {
  display: flex;
}

.button {
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: transform 0.5s;
}

.selected {
  /* color: blue; */
  background-color: purple;
  transform: scale(1.2);
}

.recipes_container {
  flex-direction: column;
  height: 100%;
}

#recipes {
  padding: 0px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 400px; */
  height: calc(100vh - 320px);
  overflow: hidden;
  position: relative;
  transition: scroll-behavior 0.5s ease;
}

.recipe_button {
  margin: 10px;
  width: 220px;
}

.scroll_wrapper {
  display: flex;
  justify-content: center;
}

.scroll_button {
  width: 220px;
}

#recipe {
  flex-grow: 1;
  text-align: center;
}
