body {
  font-size: 20px;
  background-color: #202020;
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
}

.button {
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: transform 0.5s;
}

.selected {
  /* color: blue; */
  background-color: purple;
  transform: scale(1.2);
}

#categories {
  display: flex;
}

.category {
  margin: 20px;
  text-align: center;
  flex-grow: 1;
}

#recipes {
  display: flex;
  flex-direction: column;
}

.recipe_name {
  margin: 10px;
  width: 220px;
}

#recipe {
  flex-grow: 1;
  text-align: center;
}
