/* html, body { */
/*   height: 100%; */
/*   margin: 0; */
/* } */

body {
  font-size: 20px;
  background-color: #202020;
  color: white;
}

/* Differentiate between desktop and mobile */
.desktop_wrapper {
  display: none;
}

@media (min-width: 640px) {
  .desktop_wrapper {
    display: block;
  }
}

.mobile_wrapper {
  display: block;
}

@media (min-width: 640px) {
  .mobile_wrapper {
    display: none;
  }
}

/* Desktop */
ul {
  list-style-type: none;
}

#categories {
  display: flex;
  height: 100px;
}

.category {
  margin: 20px;
  text-align: center;
  flex-grow: 1;
}

.container {
  display: flex;
}

.button {
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: transform 0.5s;
}

.selected {
  /* color: blue; */
  background-color: purple;
  transform: scale(1.2);
}

.recipes_container {
  flex-direction: column;
  height: 100%;
}

#recipes {
  padding: 0px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 400px; */
  height: calc(100vh - 320px);
  overflow: hidden;
  position: relative;
  transition: scroll-behavior 0.5s ease;
}

.recipe_button {
  margin: 10px;
  width: 220px;
  min-height: 23px;
}

.scroll_wrapper {
  display: flex;
  justify-content: center;
}

.scroll_button {
  width: 220px;
}

.scroll_button:active {
  transform: scale(1.2);
}

#recipe {
  flex-grow: 1;
  text-align: center;
}

/* Mobile */
.mobile_body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
}

#mobile_recipe_wrapper {
  height: 60%;
}

#mobile_recipe {
  flex-grow: 1;
  height: 100%;
  text-align: center;
}

#mobile_recipes {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 0px;
}

#mobile_categories {
  flex-grow: 0;
  /* padding-bottom: 10px; */
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 0px;
  padding-bottom: 70px;
}

.mobile_selected {
  background-color: purple;
}

.mobile_button {
  margin: 5px;
  width: 220px;
  min-height: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: transform 0.5s;
}

.mobile_selected {
  /* color: blue; */
  background-color: purple;
  transform: scale(1.2);
}
